@use './functions.scss' as f;

//template
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:active {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

//utility class
.green{
  color: #015450;
  font-weight: 700;
}




//fonts
@font-face {
  font-family: "sk-modernist";
  src: url("../assets/fonts/sk-modernist/Sk-Modernist-Bold.otf"),
    url("../assets/fonts/sk-modernist/Sk-Modernist-Mono.otf"),
    url("../assets/fonts/sk-modernist/Sk-Modernist-Regular.otf");
}

@font-face {
  font-family: "InaiMathi";
  src: url("../assets/fonts/InaiMathi.ttf");
}

@font-face {
  font-family: "Kanit";
  src: url("../assets/fonts/kanit/Kanit-Bold.ttf");
}


//breakpoints
//mobile: 600px, desktop: >600px
$breakpoints-up:(
  'desktop': f.em(600)
);

@mixin breakpoint-min($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}