.sect1 {
  .row1 {
    font-size: max(1rem, 15.625vw);
    margin: 0 auto;
    margin-top: 0.4566em;
    width: 5.064em;
    height: 2.3825em;
    display: flex;
    flex-direction: row;

    @media only screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: max(45.49px, 12vw);
      height: max(711.23px, 187.66vw);
      margin-top: max(43px, 11.34vw);
    }

    .xiii {
      display: flex;
      flex-direction: column;
      align-items: left;
      color: #080a16;
      width: 50%;
      height: auto;

      @media only screen and (max-width: 600px) {
        align-items: center;
        justify-content: center;
        width: max(233px, 61.478vw);
        height: max(422px, 111.3456vw);
        gap: max(24px, 6.33vw);
      }

      .title {
        font-size: max(2rem, 15.625vw);
        font-weight: 900;
        font-family: "Inter", sans-serif;
        font-style: normal;
        color: #202020;
        background-image: url("../../../assets/images/XIII.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 0.733em;
        height: 1.636em;

        @media only screen and (max-width: 600px) {
          width: max(222px, 58.57vw);
          height: max(328px, 86.5vw);
        }
      }

      .info {
        font-size: 1.302vw;
        font-weight: 700;
        font-family: "sk-modernist";
        font-style: normal;
        margin-top: 0.96em;
        width: 11.56em;
        height: 3.6em;
        letter-spacing: 0.05em;
        color: #080a16;

        @media only screen and (max-width: 600px) {
          font-family: "InaiMathi";
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 0;
          font-size: max(25px, 6.6vw);
          text-align: center;
          width: 100%;
          height: max(90px, 23.75vw);
          text-overflow: ellipsis;
        }
      }
    }

    .img {
      background-image: url("../../../assets/images/bg_img.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: auto;
      color: blue;

      @media only screen and (max-width: 600px) {
        height: 100%;
        background-size: contain;
        width: 100%;
      }
    }
  }

  .row3 {
    font-size: 5.2vw;
    width: 100%;
    height: 3.3em;
    background-color: #015450;
    margin-top: 1.7124em;

    @media only screen and (max-width: 600px) {
      margin-top: max(70.78px, 18.675vw);
      height: max(200px, 52.77vw);
    }
  }
}
