@use "../../globals/functions.scss" as f;
@use "../../globals/boilerplate.scss" as b;

.footer {
  @include b.breakpoint-min(desktop) {
    font-size: 10.4166vw;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 4.655em;
  }
  .fin-tech {
    font-size: 0;
    @include b.breakpoint-min(desktop) {
      position: absolute;
      right: -19.505em;
      top: 0;
      font-size: 10.4166vw;
      font-weight: 900;
      font-family: "Inter", sans-serif;
      font-style: normal;
      line-height: 1em;
      color: transparent;
      -webkit-text-stroke: 1px #015450;
      width: 30.615em;
    }
  }
  .container {
    position: relative;
    height: max(f.rem(354), 94.4vw);
    color: #ffffff;
    background-image: url("../../assets/images/footer_img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include b.breakpoint-min(desktop) {
      position: absolute;
      bottom: 0;
      color: white;
      width: 100%;
      height: 41.66vw;
    }
    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      width: max(f.rem(327), 87.2vw);
      left: max(f.rem(24), 6.4vw);
      top: max(f.rem(70), 18.666vw);
      @include b.breakpoint-min(desktop) {
        position: relative;
        top: 7.8125vw;
        left: 10.416vw;
        width: 28vw;
        height: auto;
      }
    .title {
        font-family: "Inter", sans-serif;
        font-weight: 900;
        font-size: max(f.rem(30), 8vw);
        line-height: 0.833em;
        margin-bottom: max(f.rem(26), 6.933vw);
        @include b.breakpoint-min(desktop) {
            font-size: 4.05vw;
            line-height: 5.6729vw;
            margin-bottom: 2.916vw;
            width: 22.03125vw;
        }
    }
    .desc {
        white-space: initial;
        font-size: max(1rem, 4.266vw);
        gap: 1em;
        line-height: 1em;
        font-weight: 400;
        font-family: "Inter", sans-serif;
        font-style: normal;
        display: flex;
        flex-direction: column;
        margin-bottom: max(f.rem(48), 12.8vw);
        @include b.breakpoint-min(desktop) {
            font-size: 1.3vw;
            gap: 0.8333vw;
            margin-bottom: 5.2vw;
            width: 100%;
            line-height: 1.666vw;
        }
    }
      .socials-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: max(f.rem(306), 81.6vw);
        @include b.breakpoint-min(desktop) {
            width: 19.58vw;

        }
         .socials{
            font-size: 1rem;
            line-height: 1.625em;
            letter-spacing: 0.05em;
            font-weight: 400;
            font-family: "Inter", sans-serif;
            font-style: normal;
            text-decoration: underline;
            color: #FFFF;
            cursor: pointer;
          @include b.breakpoint-min(desktop) {
            font-size: 1.3vw;
          }
        }
      }
    }
  }
}
