.icon {
  .hamburger_container {
    display: inline-block;
    cursor: pointer;
    .bar1,
    .bar2 {
      width: max(0.8rem,2vw);
      height: max(0.08rem,0.2vw);
      background-color: #212121;
      margin: 0.246em 0;
      transition: 0.4s;
    }
    .bar2 {
      width: max(0.4rem,1.5vw);
    }
    .change {
        position: absolute;
        z-index: 1;
      .bar1 {
        transform: translate(0, 0.8em) rotate(-45deg);
        width: 2vw;
      }
      .bar2 {
        transform: translate(0, 0.5em) rotate(45deg);
        width: 2vw;
      }
    }
  }
  .visible {
    visibility: hidden;
    position: absolute;
  }
  .icon_info {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    font-family: "Inter", sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/images/sidemenu.png');
    background-position: center;
    background-size: cover;
    background-color: #d1d4db;
    background-repeat: no-repeat;
    @media (max-width:600px){
      background-position: top;
      background-size: contain;
    }
    .background {
        font-size: max(0.5rem, 2vw);
        width: 30%;
        margin-top: 3.25em;
        margin-left: 10.2em;
        margin-bottom: 6.25em;
        @media (max-width:600px) {
            margin-top: 4.25rem;
            margin-left: 5.2rem;
            margin-bottom: 6.25rem;
          }
      .nav {
        font-size: max(0.5rem, 2vw);
        font-weight: 400;
        line-height: 2.6em;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        width: auto;
      }

      .info {
        font-size: max(0.4rem,1vw);
        font-weight: 500;
        line-height: 1.4em;
        color: #202020;
        margin-top: 5.05em;
      }

      .button {
        font-size: max(0.4rem,0.83vw);
        width: 17.1875em;
        font-weight: 500;
        line-height: 1.75em;
        text-align: center;
        color: #202020;
        background-color: #ffffff;
        padding: 1em 4em;
        margin-top: 1.5em;
        border: 0px;
        border-radius: 8.125em;
        cursor: pointer;
      }

      .socials {
        font-size: max(0.4rem, 1vw);
        font-weight: 300;
        line-height: 1.5em;
        text-align: right;
        color: #202020;
        display: flex;
        flex-direction: row;
        align-items: right;
        justify-content: space-between;
        gap: 2.8em;
        margin-top: 5.05em;
      }
    }
  }
}
