.icon {
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 5%;
    @media screen and (max-width:600px) {
      width: max(36px, 1.875vw);
      height: max(36px, 1.875vw);
    }
  .hamburger_container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width:  100%;
    height: 2.7vw;
    @media screen and (max-width:600px){
      width: 77.77%;
      height: 30.56%;
    }
    .bar1,
    .bar2 {
      width: 100%;
      height: max(0.15rem,0.2vw);
      background-color: #212121;
      margin: 0.246em 0;
      transition: 0.4s;
    }
    .bar2 {
      width: 50%;
      height: max(0.15rem, 0.2vw);
    }
    .change {
        position: absolute;
        z-index: 1;
      .bar1 {
        transform: translate(0, 1.5em) rotate(-45deg);
        width: 2.5vw;
        transition: 0.05s;
        @media screen and (max-width:600px) {
          transform: translate(0, 1em) rotate(-45deg);
          width: 3vw;
        }
      }
      .bar2 {
        transform: translate(0, 1.1em) rotate(45deg);
        width: 2.5vw;
        transition: 0.05s;
        @media screen and (max-width:600px) {
          transform: translate(0, 0.6em) rotate(45deg);
          width: 3vw;
        }
      }
    }
  }
  .visible {
    visibility: hidden;
    position: absolute;
  }
  .icon_info {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    font-family: "Inter", sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/images/sidemenu.png');
    background-position: center;
    background-size: cover;
    background-color: #d1d4db;
    background-repeat: no-repeat;
    @media (max-width:600px){
      background-position: top;
      background-size: contain;
      width: 100vw;
      height: 100vh;
    }
    .background {
        font-size: max(1rem, 2vw);
        width: 30%;
        margin-top: 3.25em;
        margin-left: 10.2em;
        margin-bottom: 6.25em;
        @media (max-width:600px) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          height: auto;
          }
      .nav {
        font-size: max(1rem, 2vw);
        font-weight: 400;
        line-height: 2.6em;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        width: auto;
        @media (max-width:600px) {
            font-size: 1rem;
          }
      }

      .info {
        font-size: max(0.5rem,1vw);
        font-weight: 500;
        line-height: 1.4em;
        color: #202020;
        margin-top: 5.05em;
        white-space: nowrap;
        overflow: visible;
        text-overflow: ellipsis;
        @media (max-width:600px) {
            font-size: 0.6rem;
          }
      }

      .button {
        font-size: max(0.5rem,0.83vw);
        width: 17.1875em;
        font-weight: 500;
        line-height: 1.75em;
        text-align: center;
        color: #202020;
        background-color: #ffffff;
        padding: 1em 4em;
        margin-top: 1.5em;
        border: 0px;
        border-radius: 8.125em;
        cursor: pointer;
        @media (max-width:600px) {
            font-size: 0.4rem;
          }
      }
      .button:hover {
        background-color: black;
        color: white;
        font-weight: 700;
      }

      .socials {
        font-size: max(0.5rem, 1vw);
        font-weight: 300;
        line-height: 1.5em;
        text-align: right;
        color: #202020;
        display: flex;
        flex-direction: row;
        align-items: right;
        justify-content: space-between;
        gap: 2.8em;
        margin-top: 5.05em;
        @media (max-width:600px) {
            font-size: 0.6rem;
          }
      }
    }
  }
}
