@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* homepage */
  .text-stroke {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #015450;
  }
}
